

.footer{
    display: flex;
    background-color: #111111;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    color: blue;
    text-align: center;
}